/*variable colors*/
:root {
    --mainBody: #172633;
    --secondBody: #eee;
    --heads: #172633;
    
    --hero-p: #ddd;
    --btn: #f4f4f4;
    --theme-btn: hsl(208, 38%, 25%);

    --hero-h2: #f1f1f1;

    --headTitle: #ddd;
    --headLinks: #f4f4f4;
    --navLinks: #f4f4f4;
    --navH1: #f4f4f4;
    --footerText: #000;
    --footer-bg: #f4f4f4;
    --mainTextHover: hsl(0, 0%, 70%);
    --secondText: #000;
    --secondText-hover: #333;
    --hamburger: #f4f4f4;
    --mainText: #f4f4f4;


    --sectionLinks: #fff;
    --sectionText: #172633;
    --sectionP: #f4f4f4;
    --button: #f4f4f4;
    --span: #dc143c;

    --icon: #172633;
    
    --border: #f4f4f4;
    --border-second: hsl(0, 0%, 50%);

}

/*end of variable colors*/
