@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 10vh;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;

}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 2vw, 1.025rem);
}

/*variable colors*/
:root {
  --mainBody: #eee;
  --secondBody: #172633;
  --heads: #eee;
  --heads-dark: #161616;

  --headTitle: #333;
  --headLinks: #333;

  --hero-h2: #000;
  --hero-p: #333;
  --btn: #172633;

  --mainText: #000;
  --mainTextHover: hsl(0, 0%, 50%);
  --secondText: #f4f4f4;
  --secondText-hover: hsl(0, 0%, 76%);
  --navLinks: #000;
  --navH1: #000;
  --footerText: #000;

  --hamburger: #000;
  --sidebar_bg: #000;
  --sidebar_links: #f4f4f4;
  --sectionLinks: #000;
  --sectionText: #fff;
  --text-light: #f4f4f4;
  --sectionP: rgb(41, 40, 40);
  --button: #f4f4f4;
  --button-hover: #fffa;
  --span: #dc143c;
  --span-light: skyblue;

  --icon: #eeea;
  --border: #172633;
  --border-second: hsl(0, 0%, 35%);
  --dark-border: 2px solid #000;
  --light-border: 2px solid #ddd;

}


/* THEMES OPTIONS WRAPPER */
#theme-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 10vh auto .5rem;
  width: 50%;
}

.theme-dot {
  height: auto;
  width: auto;
  padding: .5rem 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: .65rem;
  font-size: clamp(.65rem, 1vw, 1rem);
  font-weight: 700;
  transition: .2s;
  border-radius: 5px;
  border: 2px solid var(--themeDotBoarder);
  box-shadow: 
                    0 .25rem .5rem rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

.theme-dot:hover {
  transform: translateY(-2px);
}

#light-mode {
  background-color: #fff;
  color: #252525;
}

#dark-mode {
  background-color: hsl(208, 38%, 25%);
  color: #eee;

}

#settings-note {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
  color: var(--sectionP);
  margin-bottom: .5rem;
}

/*end of theme options*/
body {
  background: var(--mainBody);
}

span {
  color: crimson;
}

section h1 {
  color: var(--sectionText);
}

#container {
  /* border: 2px solid red; */
  max-width: 100%;
  position: relative;
}

.hero {
  height: 80vh;
  position: relative;
  padding: 10vh 5vw 5vh;
  /* overflow: hidden; */
}

.hero-title {
  position: relative;
  /* top: 15vh; */
  width: 55%;
}



.hero .hero-title h2 {
  font-weight: 900;
  margin: .25rem 0;
  color: var(--mainText);
  font-size: clamp(2rem, 4vw, 2.5rem);

}

.hero-value {
  color: var(--hero-p);
  font-size: clamp(1rem, 2vw, 1.25rem);
  max-width: 400px;
}

.hero-meta {
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: .85rem;
  color: var(--mainTextHover);
}
.hero img {
  position: absolute;
  top: 0;
  right: 0;
  /* border: 2px solid red; */
  /* z-index: -1; */
  width: 45%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  /* mix-blend-mode: darken; */

}

.hero a {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  position: relative;
  color:inherit;
  background: var(--btn);
  color: var(--secondText);
  width: 10rem;
  padding: .65rem;
  border-radius: .25rem;
  box-shadow: 0 .25rem .5rem #0002;
}
.hero a i {
  margin-left: 1rem;
  color: var(--span);
}

/*header*/
#header {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  z-index: 10;
  padding: .25rem 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--heads);
  /* border: 4px solid blue; */
  color: var(--headTitle);
  box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .125);
}
#header h1 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 900;
  color: var(--navH1);
}
#header h1 span {
  font-size: inherit;
}


#nav-bar {
  color: var(--secondText);
  display: flex;
  gap: 1rem;
}

#nav-bar a {
  color: var(--navLinks);
  font-size: .95rem;
  text-decoration: none;
  text-transform: capitalize;
}

#nav-bar a:hover {
  color: crimson;
  transition: .25s;
}
#header .logo {
  height: 100%;
  width: auto;
}
#header-img {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  object-fit:contain; 
}


aside {
  display: none;
}
#hamburger {
  display: none;
}
/*End of header*/


/*section*/

/*varients*/
#varients {
  padding: 5vh 0;
}
.column {
  border-radius: .5rem;
  overflow: hidden;
}

.row {
  padding: 0 5vw;
  display: flex;
  gap: 5vw;
}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#varients h2 {
  text-align: center;
  font-size: 2rem;
  margin: 5vh auto;
  color: var(--headTitle);
}

#varients img {
  transition: all .5s ease;
}

#varients img:hover {
  transition: .5s ease;
  transform: scale(1.025);
}

.varient-p {
  margin: 10vh 0vw;
  padding: 5vh 5vw;
  color:var(--sectionText);
  text-align: center;
  background-color: var(--secondBody);
}
.varient-p p {
  line-height: 1.8;
  font-size: 1rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
  max-width: 700px;
  margin-inline: auto;
}
.varient-p span {
  color: var(--span);
}
/*End of varients*/
/*specs*/
#pov {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10vh 1em;
  height: auto;
}

#video {
  width: 100%;
  height: 60vh;
  border-radius: 5px;
}

.specs {
  /* border: 2px solid red; */
  margin: 5vh 0;
  padding: 5vh 5vw;
  color: var(--sectionText);
  background-color: var(--secondBody);
}
.specsp {
  margin-bottom: 5vh;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--border-second);
  transition: .5s;
}

#specs p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
  color: var(--sectionText);
  /* border: 2px solid yellow; */
  font-weight: 600;
}

#specs .specsp:hover.specsp p i {
  color: var(---mainTextHover);
  transition: .5s;
}
#specs .specsp:hover.specsp p {
  color: var(---mainTextHover);
  transition: .5s;
}

#specs p span {
  font-size: inherit;
  font-weight: 400;
  color: var(--secondText-hover);
}

#specs p i {
  color: var(--icon);
  font: 2rem;
}
.specsp:hover .specsp p i {
  color: var(---mainTextHover);
}

.specs i {
  margin-bottom: .5em;
  font-size: 1.5rem;
}

/*End of specs*/

/*stats*/
#key-stats {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  height: auto;
  margin: 5vh 5vw;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 10px;
  opacity: .9;
  background-color: var(--heads);
}

.product>.level {
  color: var(--headTitle);
  font-size: 2em;
  padding: 10px 0;
  width: 100%;
  font-weight: 700;
}

.product>h2 {
  margin-top: 20px;
  color: crimson;
}

.product a {
  text-decoration: none;
  transition: .6s;
  color: var(--sectionLinks);
}

.product a:hover {
  text-decoration: underline;
  transition: .7s ease-in-out;
}

/*End of stats*/


/*Form*/
form {
  align-items: center;
  display: flex;
  padding: 30px;
  margin: 20px;
  font-size: 2rem;
  flex-direction: column;
}

form #submit {
  background-color: crimson;
  background-image: linear-gradient(0deg, #8f0622, #dc143c);
  color: var(--button);
  font-weight: 700;
  margin: 20px;
  height: 40px;
  width: 35%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.300),
              inset -2px -2px 2px rgba(0, 0, 0, 0.300),
              2px 2px 3px #000a;
  transition: .2s ease;
}

form #submit:hover {
  color: var(--button-hover);
  background-color: var(--heads);
  transform: scale(.98);
}

form #email {
  border: none;
  outline: 3px solid var(--border);
  width: 35%;
  height: 30px;
  transition: .5s;
  text-align: center;
}
#email:invalid {
  outline: 2px solid #dc143c;
  background-color: #eee;
  transition: .5s;
  border: none;
}
#email:focus {
  outline: 2px solid #dc143c;
  outline-offset: -3px;

}

form label {
  color: var(--headTitle);
  font-weight: 600;
  font-size: 2rem;
}

#email {
  padding: 20px;
  border-radius: 15px;
}

/*End of Form*/
/*End of section*/

/*footer*/
footer {
  margin-top: 30px;
  background-color: var(--footer-bg);
  color: var(--footerText);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}
footer p {
  text-transform: capitalize;
}
footer>ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer>ul>li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 20px;
  color: var(--footerText);
}



footer a {
  color: var(--footerText);
  text-decoration: none;
  transition: .3s;
}
footer p {
  color: var(--footerText);
}
footer a span {
  color: var(--span);
}

footer a:hover {
  transition: .3s;
  color: var(--span);
  text-decoration: underline;
}

/*End of footer*/

/*Media Querries*/
@media only screen and (max-width: 1023px) {

  
  .product>.level {
    font-size: 1.4rem;
    padding: 15px 0;
    width: 100%;
    font-weight: 550;
    border-radius: 10px;
    height: auto;
  }

  .product {
    border-radius: 10px;
    color: var(--sectionLinks);
  }

}


  @media screen and (max-width: 768px) {

    #header {
      padding: .25rem 5vw;
      height: 6vh;
      justify-content: space-between;
      align-items: center;
    }
    /* HAMBURGER TOGGLE */
    #hamburger {
      display: grid;
      place-items: center;
      height: 1.5em;
      width: 1.5em;
      transition: .25s;
      cursor: default;
    }
    #hamburger .bar {
      width: 70%;
      height: .125rem;
      background-color: var(--hamburger);
      position: relative;
    }
    #hamburger .bar::before,
    #hamburger .bar::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      transition: .25s;
      background: var(--hamburger);
    }
    .bar::before {
      transform: translateY(-4px);
    }
    .bar::after {
      transform: translateY(4px);
    }
    #hamburger:active {
      transform: scale(.9);
    }
    #hamburger.active {
      transform: scale(.95);
    }
    #hamburger.active .bar::before,
    #hamburger.active .bar::after {
      transform: translateY(0);
    }
    /* END OF HAMBURGER TOGGLE */

    #sidebar {
      display: block;
      position: fixed;
      width: 100%;
      height: 0;
      overflow: hidden;
      color: var(--sidebar_links);
      background: var(--sidebar_bg);
      top: 6vh;
      z-index: -1;
      left: 0;
      padding: 5vh auto; 
      transition: .5s ease;
    }
    #sidebar.active {
      height: 60vh;
    }

    #sidebar ul {
      height: 100%;
      padding: 5vh 5vw;
      position: relative;
      list-style: none;
    }

    #sidebar li {
      margin-bottom: 1rem;
      padding-bottom: .5rem;
      border-bottom: 2px solid;
    }
    #sidebar a {
      color: inherit;
      font-size: 1rem;
      text-transform: capitalize;
      text-decoration: none;
    }
    #nav-bar {
      display: none;
    }
    #form {
      padding-top: 10vh;
    }
    #form label {
      font-size: 1.5rem;
      margin-bottom: .5em;
    }
    #form input {
      width: 100%;
    }
    .column {
      width: 100%;
    }

    .row {
      flex-direction: column;
      gap: 5vh;
    }
    .rs3 {
      padding: 1em;
    }
    #video {
      height: 50vh;
      border-radius: .5rem;

    }

    #key-stats {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 5vw;
    }

    .product>.level {
      font-size: 1.3em;
      padding: 0;
      width: 100%;
      font-weight: 700;
      border-radius: 05px;
    }

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      height: auto;
      margin: 10px 10vw;
      /* padding: 20px; */
      /* border-radius: 10px; */
    }

    .product h2 {
      font-size: 1.3rem;
    }

    .product a {
      font-size: .8rem;
    }

  }


  /*End of Media queries*/


  /* PRELOADER */
.loader_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--secondBody);
  z-index: 99;
  display: grid;
  place-items: center;
}

.loader {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: -25rem; */
  list-style: none;
  width: 50%;
  height: auto;
  position: relative;
  left: 1rem;
}
.loader li {
  background-color: transparent;
  border: .25rem solid #f4f4f4;
  width:2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  left: calc(-.5rem * var(--i));
  animation: ring 2s infinite;
  animation-delay: calc(.2s * var(--i));
}
@keyframes ring {
  50% {
    opacity: .4;
  }
}