@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
  font-size: 18px;
  /* border: 1px solid red; */
}

/*variable colors*/
:root {
  --mainBody: #eee;
  --secondBody: #333;
  --heads: #eee;
  --heads-dark: #161616;

  --headTitle: #333;
  --headLinks: #333;

  --sectionLinks: #000;
  --sectionText: #fff;
  --text-light: #f4f4f4;
  --sectionP: rgb(41, 40, 40);
  --button: #fff;
  --span: #dc143c;
  --span-light: skyblue;

  --icon: #eeea;
  --border: #000;
  --dark-border: 2px solid #000;
  --light-border: 2px solid #ddd;

}

/*end of variable colors*/
/*themes option*/
#theme-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh auto 0;
  width: 50%;
  border-radius: 5px;
}

.theme-dot {
  height: auto;
  width: 120px;
  margin: 5px 20px;
  padding: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 700;
  transition: .2s;
  border-radius: 5px;
  border: 2px solid var(--themeDotBoarder);
  -webkit-box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 4px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.theme-dot:hover {
  transform: translateY(-5px);
}

#light-mode {
  background-color: #fff;
  color: #252525;
}

#dark-mode {
  background-color: #172633;
  color: #eee;

}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: var(--sectionP);
}

/*end of theme options*/
body {
  width: 100vw;
  background: var(--mainBody);
}

span {
  color: crimson;
}

section h1 {
  color: var(--sectionText);
}

.container {
  justify-content: center;
  width: 100%;
  margin: 15vh 0;
  padding: 0 5vw;
  position: relative;
}

/*header*/
#header h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: auto;
  cursor: pointer;
}
#header h1 span {
  font-size: inherit;
}

#header {
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 10;
  top: 0;
  padding: 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--heads);
  /* background-color: blue; */
  color: var(--headTitle);
}

#nav-bar {
  background: var(--heads-dark);
  border: 1px solid #000a;
  padding: 5px;
  margin-left: auto;
  border-radius: 5px;
}

#nav-bar a {
  color: var(--headLinks);
  color: var(--text-light);
  padding: 5px;
  margin: 0 0 0 .5em;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}

#nav-bar a:hover {
  color: crimson;
  transition: .2s;
}
#header .logo {
  height: 100%;
  width: 10%;
}
#header-img {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}


aside {
  display: none;
}
/*End of header*/


/*section*/

/*varients*/
#varients {
  padding: .1em 1em 5vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
.column {
  float: left;
  width: 50%;
  overflow: hidden;
  outline: none;
  /* padding: 10px; */
}

/* Clear floats after image containers */


.row {
  display: flex;
  flex-direction: row;
  outline: 3px solid #000;
  margin: 0 auto;
}

.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#varients h2 {
  text-align: center;
  font-size: 2em;
  margin: 5vh 0;
  color: var(--headTitle);
}

#varients img {
  /* border-radius: 2px; */
  /* border: 1px solid var(--border); */
  transition: all .3s ease;


}

#varients img:hover {
  transition: .4s ease;
  transform: scale(1.07);
  transform-origin: right;
}

.varient-p {
  margin: 10vh 0vw;
  padding: 5vh 5vw;
  color:var(--sectionText);
  text-align: center;
  background-color: var(--secondBody);
}
.varient-p p {
  line-height: 1.5;
  font-size: 1.4em;
}
.varient-p span {
  color: var(--span);
}
/*End of varients*/
/*specs*/
#pov {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10vh 1em;
  height: auto;
}

#video {
  width: 100%;
  height: 60vh;
  border-radius: 5px;
}

.specs {
  
  font-size: 1.6rem;
  letter-spacing: 3px;
  padding: 100px;
  margin: 5vh 0;
  width: 100%;
  align-items: flex-start;
  color: var(--sectionText);
  background-color: var(--secondBody);
}

#specs p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin-bottom: 30px;
  padding: 20px;
  color: var(--sectionText);
}

#specs p span {
  font-size: inherit;
  color: var(--span);
}

#specs p i {
  color: var(--icon);
}
.specs h1 {
  line-height: 1.7;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;

}

.specs i {
  margin-bottom: .5em;
  font-size: 1.5rem;
}

/*End of specs*/

/*stats*/
#key-stats {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  height: auto;
  margin: 5vh 5vw;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 10px;
  opacity: .9;
  background-color: var(--heads);
}

.product>.level {
  color: var(--headTitle);
  font-size: 2em;
  padding: 10px 0;
  width: 100%;
  font-weight: 700;
}

.product>h2 {
  margin-top: 20px;
  color: crimson;
}

.product a {
  text-decoration: none;
  transition: .6s;
  color: var(--sectionLinks);
}

.product a:hover {
  text-decoration: underline;
  transition: .7s ease-in-out;
}

/*End of stats*/


/*Form*/
form {
  align-items: center;
  display: flex;
  padding: 30px;
  margin: 20px;
  font-size: 2rem;
  flex-direction: column;
}

form #submit {
  background-color: crimson;
  color: var(--button);
  font-weight: 700;
  margin: 20px;
  height: 40px;
  width: 35%;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .2s ease;
}

form #submit:hover {
  color: crimson;
  background-color: var(--heads);
  transform: scale(.95);
}

form #email {
  border: 3px solid #000;
  outline: none;
  width: 35%;
  height: 30px;
  transition: .3s;
}
#email:invalid {
  border: 3px solid #dc143c;
}
#email:focus {
  outline: none;

}

form label {
  color: var(--headTitle);
  font-weight: 600;
  font-size: 2rem;
}

#email {
  padding: 20px;
  border-radius: 15px;
}

/*End of Form*/
/*End of section*/

/*footer*/
footer {
  margin-top: 30px;
  background-color: var(--secondBody);
  color: var(--sectionText);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

footer>ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer>ul>li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 20px;
  color: var(--sectionText);
}



footer a {
  color: var(--sectionText);
  text-decoration: none;
  transition: .3s;
}
footer a span {
  color: var(--span);
}

footer a:hover {
  transition: .3s;
  color: var(--span);
  text-decoration: underline;
}

/*End of footer*/

/*Media Querries*/
@media only screen and (max-width: 1023px) {

  .specsp {
    border: 1px solid var(--border);
    font-size: 1em;
    line-height: 1.6;
    margin: .5em 5vw;
    padding: .5em .2em 1.5em;
    height: auto;
  }
  #specs p {
    padding: 0;
    margin: 0;
  }
  .product>.level {
    font-size: 1.4rem;
    padding: 15px 0;
    width: 100%;
    font-weight: 550;
    border-radius: 10px;
    height: auto;
  }

  .product {
    border-radius: 10px;
    color: var(--sectionLinks);
  }

}
  @media screen and (max-width: 768px) {
    body {
      font-size: 0.5rem;
      background: var(--mainBody);
      position: relative;
    
    }

    .container {
      background-color: var(--mainBody);
      margin: 6vh 0 0;
      padding: 0;
      position: relative;
    }

    #header {
      /* padding: 1vh 5vw; */
      /* width: 100vw; */
      height: 6vh;
      overflow: hidden;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1em;
    }
    #header .logo {
      height: 100%;
      width: 30%;
      padding: .1em 0;
      margin: 0;
      overflow: hidden;
    }
    #header .logo img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    #header h1 {
      font-size: 1.5em;
    }
    #header h1 span {
      font-size: inherit;
    }
    #sidebar {
      display: none;
      position: fixed;
      min-width: 100vw;
      min-height: 80vh;
      color: blue;
      background-color: green;
      top: 5vh;
      left: 0;
      padding: 5vh 1em;
      z-index: 50;
    }

    #sidebar ul {
      background-color: yellow;
      height: 100%;
      padding: 2vh 0;
      margin: 5vh 5vw;
    }
#sidebar li {
  background-color: pink;
  padding: 5px;
  z-index: 50;
  margin: 5vh 0;
  height: 100%;
}
    #sidebar a {
      display: block;
      color: #000;
      font-size: 30px;
      background-color: purple;
      margin: 5vh auto;
    }
    #nav-bar {
      display: none;
    }
    .theme-dot {
      font-size: .5em;
    }

    .varient-p {
      margin: 10vh 0 5vh;
      padding: 5vh .5em;
    }
    .varient-p p {
      line-height: 1.6;
      font-size: 1em;
    }
    #form {
      padding-top: 10vh;
    }
    #form label {
      font-size: 1em;
      margin-bottom: .5em;
    }
    #form input {
      width: 100%;
    }
    .column {
      width: 100%;
    }
    #varients .vd {
      font-size: 2em;

    }

    .row {
      flex-direction: column;
    }


    .specs {
      padding: 1em;
    }
    .specs h1 {
      font-size: 1rem;
      text-align: center;
    }


    .specs i {
      font-size: 1.1rem;
      margin-top: 10px;
    }
    #specs {
      margin: 0;
      padding: 5vh 0;
    }
    #specs p {
      position: relative;
      font-size: .5em;
    }
    .rs3 {
      padding: 1em;
    }
    #video {
      height: 50vh;
      border-radius: 0;

    }

    #key-stats {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 5vw;
    }

    .product>.level {
      font-size: 1.3em;
      padding: 0;
      width: 100%;
      font-weight: 700;
      border-radius: 05px;
    }

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      height: auto;
      margin: 10px 10vw;
      /* padding: 20px; */
      /* border-radius: 10px; */
    }

    .product h2 {
      font-size: 1.3rem;
    }

    .product a {
      font-size: .8rem;
    }

  }


  /*End of Media queries*/
